@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap");

* {
  scroll-behavior: smooth;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
}
body {
  background: url("../images/grid.png") 100vh;
  background-attachment: fixed;
  height: 120vh;
}
header {
  width: 100%;
  height: 80px;
  z-index: 1;
  position: fixed;
  background: #ffff;
}
.hcont {
  width: 100vw;
  height: 100%;
  top: 0;
  margin: 0 0;
  display: flex;
  z-index: 20;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background: #ffff;
  box-shadow: 0px 1px 15px rgba(187, 187, 187, 0.533);
}

.logo {
  top: 0;
  width: 256px;
  float: left;
  cursor: pointer;
  background: #ffffff;
  cursor: none;
  align-items: center;
  justify-content: center;
}
.logo a{
     text-decoration: none;
     color: #000000;   
     font-size: 16px;
     font-family: "Open Sans", sans-serif 600;
      font-weight: 700;
     line-height: 80px;
      background: #ffff;
     cursor: none;
   }
.logo:hover {
  cursor: pointer;
}
.logo img{
     height: 80px;
     margin-left: 2vw;
     margin-top: -5px;
}
.mnav {
  display: flex;
  
  float: right;
  position: relative;
  padding-right: 50px;
  background: #ffff;
}
.mnav a {
  text-decoration: none;
  color: #000000;
  padding: 0 2vw;
  font-size: 16px;
  font-family: "Open Sans", sans-serif 600;
  font-weight: 700;
  line-height: 80px;
  background: #ffff;
  cursor: none;
}
.mnav a:hover {
  cursor: pointer;
  color: #7a0dd3;
}
.line {
  background: url("../images/purpleline.png") no-repeat center center;
  background-size: cover;

  height: 100vh;
}
.cta {
  position: absolute;
  top: 15vh;
  left: 15vw;
  width: 30vw;
}
.ctat {
  background: rgba(255, 255, 255, 0.87);
  border-radius: 25px;
  box-shadow: 5px 20px 25px rgba(175, 175, 175, 0.699);
  padding: 15px;
  overflow: auto;
  text-align: center;
}
.ctab {
  margin-top: 5vh;
  text-align: center;
}
.ctab a {
  background: rgb(244, 245, 247);
  padding: 10px 30px;
  border-radius: 25px;
  border: 0px;
  box-shadow: 5px 20px 25px rgba(175, 175, 175, 0.699);
  font-size: 1.6vh;
  color: #7a0dd3;
  font-weight: bold;
  cursor: pointer;
}
.ctab a:hover {
  background: #cccccc;
  cursor: pointer;
}

.ctat h1 {
  color: #7a0dd3;
  font-size: 3.5vh;
  font-weight: bold;
}
.ctat p {
  color: #420873;
  font-size: 2vh;
  font-weight: bold;
}
.desch {
     background: rgba(175, 175, 175, 0.69);
     position: absolute;
     font-size: 2vh;
     font-weight: bold;
     color: #ffff;
     padding: 20px 30px;
     top: 75%;
     border-radius: 25px;
     border: 0px;
     right: 10%;
     width: 35vw;
   }
.about{
     position: absolute;
  top: 100vh;
  height: calc(100vh - 80px);
  color: #ffff;
  background: #262254;
  font-size: 2vh;
  justify-content: center;  
}
.about img{
     height: 45vh;
     margin-top: 6vh;
     box-shadow: 20px 25px 100px rgba(0, 0, 0, 0.699);
}
.aboutc {
display: flex;
 
}
.about h1{
     font-size: 2vw;
}
.aboutcontent1{
     margin-top:5vh ;
     margin-bottom: 5vh;
     margin-left:4vw ;
     margin-right: 4vw;
     width: 42vw;
}
.aboutcontent2{
     margin-top:5vh;
     margin-bottom: 5vh;
     margin-left:4vw ;
     margin-right: 4vw;
     width: 42vw;
     
}
.meetingtime{
     position: absolute;
     margin-top:calc(200vh - 80px);
     padding-top: 5vh;
     padding-bottom: 5vh;
     color: #ffff;
     background: #52307c;
     left: 0;
     font-size: 2.5vh;
     height: 20vh;
}
.about p{
     margin-top:10px;
}
.projects{
    position: absolute;
    margin-top:calc(230vh - 80px);
    color: #ffff;
    background: #7c5295;
    left: 0;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 62vh;

}
.resources{
  position: absolute;
  margin-top:calc(292vh - 80px);
  color: #ffff;
  background: #9A77CF;
  left: 0;
  font-size: 3vh;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.resources li{
     margin-top: 2vh;
}
.resources a{
     color:#2557a7;
}
.resources a:visited{
     color:#2557a7;
}
.resources a:hover{
     color:#306ccc;
     cursor: pointer;
}
.resources a:active{
     color: #74a1e9;;
}
.projects p{
  margin-top: 2vh;
}
.links {
     position: absolute;
     background: #420873;
     left:0;
     margin-top: calc(378vh - 80px);
     height: 15vh;
     display: flex;
     font-size: 2vh;
   }
.btmnav {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
  
}
.btmlinks{
     color: #ffffff;
     margin-right: 5vw;
     margin-left: auto;
}
.links a{
     right: 4vw;
     color: #bbdefb;
     text-decoration-line: none;
}
.links a:hover{
     color: #bbdefb;
     text-decoration-line:underline;
}

#scroll {
     position: absolute;
     top: 95vh;
     font-size: 5vh;
     left: calc(50vw - 2.5vh);
     color: #cccccc;
     cursor: pointer;
   }
#scroll2{
     position: absolute;
     top: calc(195vh - 80px);
     font-size: 5vh;
     left: calc(50vw - 2.5vh);
     color: #cccccc;
     cursor: pointer;
}
#scroll3{
     position: absolute;
     top: calc(287vh - 80px);
     font-size: 5vh;
     left: calc(50vw - 2.5vh);
     color: #cccccc;
     cursor: pointer;
}
#scrollup {
     position: absolute;
     top: 100vh;
     font-size: 5vh;
     left: calc(50vw - 2.5vh);
     color: #cccccc;
     cursor: pointer;
   }
#scrollup2{
     position: absolute;
     top: calc(200vh - 80px);;
     font-size: 5vh;
     left: calc(50vw - 2.5vh);
     color: #cccccc;
     cursor: pointer;
}
#scrollup3{
     position: absolute;
     top: calc(292vh - 80px);
     font-size: 5vh;
     left: calc(50vw - 2.5vh);
     color: #cccccc;
     cursor: pointer;
}
.burger{
     display: none;
     cursor: pointer;
}
.burger div{
     width: 25px;
     height: 5px;
     background-color: #5e5b5b;
     margin: 5px;
     border-radius: 2.5px;
}

@media screen and (max-width:865px){
    .mnav{
     position: absolute;
     padding-right: 0;
     top: 80px;
     width: 100vw;
     flex-direction: column;
     align-items: center;
     transform: translateX(-100%);
     background-color:#ffffff;
    }
    .burger{
     display: block;
     margin-right: 5vw;
    }
    #scroll{
     display: none;
    }#scroll2{
     display: none;
    }#scroll3{
     display: none;
    }#scrollup{
     display: none;
    }#scrollup2{
     display: none;
    }#scrollup3{
     display: none;
    }
}
.nav-active{
     transform: translateX(0%);
}
@media screen and (max-width:925px){
     .aboutc{
          flex-direction: column;
          justify-content: center;
          align-items: center;
     }
     .about p{
          font-size: 1.5vh;
     }
     .about h1{
          font-size: 3vh;
     }
     .aboutcontent1{
          width: 90vw;
     }
     .aboutcontent2{
          width: 90vw;
          margin-top: 1vh;
     }
     .meetingtime{
          font-size: 2vh;
     }
     .projects{
          font-size: 2vh;
     }
     .resources{
          font-size: 2vh;
     }
     .resources ul{
          list-style: none;
          width: 90vw;
     }
     .about img{
          height: auto;
          width: 100vw;
     }
     .links{
          font-size: 2vh;
          padding-bottom: 2vh;
          height: auto;
     }
}
@media screen and (max-width:500px){
     .cta {
          top: 15vh;
          left: 0;
          width:auto;
        }
        .desch {
          left: 0;
          right: auto;
          width:auto;
        }
     
     
}
